.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--red30);
    font-weight: bold;
    /* width: 20%; */
  }
  
  .search-row {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--black80);
  }
  
  .search-row p{
    padding-right: 1rem;
  }