.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--red30);
    font-weight: bold;
    /* width: 20%; */
  }
  
  .search-row {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--black80);
  }
  
  .search-row p{
    padding-right: 1rem;
  }

  .settings {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
    color: var(--gray10);
    align-items: stretch;
    justify-content: space-between;

  }

  .settings-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }