.image-list-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 1rem;
  }

.image-container {
    width: 10rem;
    height: 5rem;
    border: 2px solid var(--red30);
    border-radius: 0.3rem;
    display: inline-block;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}