.answer {
    margin-top: 0.5rem;
}

.answer-author {
    color: white;
    background-color: var(--red30);
    border-radius: 0.5rem;
    font-size: small;
    padding: 0.3rem;
    margin-right: 0.5rem;
}