.id-select-container {
    width: 100%;
}

.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
}

/** Show whole list of items on hover. */
.dropdown:hover .dropdown-content {
    display: block;
}

/** If whole list of items is shown, remove the bottom border of first item. */
.dropdown:hover .id-item.first {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/** Item styles. */
.id-item {
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    background-color: white;
    width: 100%;;
    overflow: hidden;
}

/** Remove seperator border from last item. */
.id-item:last-child {
    border-bottom: none;
}

/** Make first element round. */
.id-item.first {
    border-radius: 0.5rem;
}
