.table-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0 5rem;
    gap: 2rem;
    background-color: white;
  }
  
.table-container {
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #DDDDDD;
  text-align: left;
  padding: 5;
  border-radius: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.table-row {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-row-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-row p{
  margin: 0;
  padding: 0;
}

.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red30);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

.table-field {
  font-weight: bold;
  margin-right: 0.5rem;
}

.image-in-modal img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-in-modal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-footer {
  margin-top: auto;
}

/**
* Id select
*/

.id-select-container {
  width: 50%;;
}

/** Text color in item, */
.item-container {
  width: 100%;
  color: var(--black80);
  display: flex;
  justify-content: space-between;
}

.item-container span {
  margin-right: 0.2rem;
  overflow: hidden;
  margin-right: auto;
}

.item-container button {
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
}

/**
* Color svg
*/
.item-container button svg {
  fill: var(--red30);
  font-size: 20px;
}

.item-container button svg:hover {
  fill: var(--blue30);
}

/**
* Answer
*/
.answer {
  margin-top: 0.5rem;
}

.answer-author {
  color: white;
  background-color: var(--red30);
  border-radius: 0.5rem;
  font-size: small;
  padding: 0.3rem;
  margin-right: 0.5rem;
}