.button {
    padding: 0.5rem;
    background-color: var(--red30);
    border-radius: 0.5rem;
    border: none;
    transition: .45s;
}

.button.orange{
    background-color: var(--orange);
}

.button.orange:hover {
    opacity: 0.9;
}

.button:hover {
    opacity: 0.8;
}